<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILectorsSeminarsDataAccessLayerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LectorsSeminarsDataAccessLayerWCFService/LectorsSeminarsDataAccessLayerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILectorsSeminarsDataAccessLayerService"
                contract="LectorsSeminarsDataAccessLayerWCFService.ILectorsSeminarsDataAccessLayerService"
                name="BasicHttpBinding_ILectorsSeminarsDataAccessLayerService" />
        </client>
    </system.serviceModel>
</configuration>