<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILectorsSeminarsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:36338/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILectorsSeminarsService"
                contract="LectorsSeminarsNamespace.ILectorsSeminarsService"
                name="BasicHttpBinding_ILectorsSeminarsService" />
        </client>
    </system.serviceModel>
</configuration>